.header-section{
    background: url('../assets/herobanner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}
.nav-bar-items .nav-link{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.nav-bar-items .active {
    position: relative;
    text-decoration: none;
}

.nav-bar-items .active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 50%; 
    height: 3px;
    background-color: rgb(255, 254, 254); 
    right: 0;
}
@media screen and (max-width: 991px) {
    .nav-bar-items .active::after {
        display: none;
    }
}

/* Home css */
.search-group{
    height: 50px;
    position: relative;
}
.user-search-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
/*  Hire page */
.btn-hire:hover{
    background: #0B7DA0;
    color: #fff !important;
    transition: all 0.3s ease;
}

/* Media Screen */
@media (max-width:600px) {
    .logo-text{
        display: none !important;
    }
}



