/* Login css */
.login-container{
    min-height: 100vh;
    width: 100%;
    background: url('../assets/loginbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Register css */
.signup-container{
    min-height: 100vh;
    width: 100%;
    background: url('../assets/registerbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}